@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<input id="email" class="input100" type="text" placeholder="Email">
<span class="focus-input100-1"></span>

<input id="password" type="password" placeholder="Password">
<span class="focus-input100-1"></span>

<button id="buttonLogin" onclick="Login()">Sign in</button>

<script src="~/Script/Login.js"></script>