@{
    ViewData["Title"] = "About";
}
@{ ViewBag.Title = "Role: ";
    var Role = ViewBag.RoleName; }
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>Role: @Role</p>