@{
    ViewData["Title"] = "Home Page";
}

<input id="email" class="input100" type="text" placeholder="Email">

<input id="password" type="password" placeholder="Password">

<button id="buttonLogin" onclick="Login();">Sign in</button>

<script src="~/Script/Login.js"></script>

<script src="~/Script/sweetalert2@10..js"></script>